.ConfigIntervalContainer {
    text-align: left;
    margin: 2px;
    padding: 2px;
    border: 1px lightgray solid;
}
.ConfigIntervalButtonPartContainer{
    display: inline-block;
    margin-right: 4px;
}
.ConfigIntervalPartContainer {
    display: inline-block;
    margin-right: 4px;
    width: 150px;
}