.ConfigPanelTitle {
    text-align: left;
    padding: 8px 4px;
}

.ConfigParamPanel, .ConfigJqlPanel, .ConfigIntervalsPanel {
    margin: 2px;
    padding: 2px;
    border: 1px black solid;
    display: block;
}

.ConfigPanelContainers {
    margin: 2px;
    padding: 2px;
    border: 1px black solid;
}
