.ChooseChartsButton {
    float: left;
    text-align: left;
    margin-top: 0.05cm;
    margin-bottom: 0.05cm;
    margin-left: 0.05cm;
}

.ChooseChartsParagraph {
    float: left;
    text-align: left;
    padding: 8px 4px;
}